<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="3"/>
  <add key="PageSizeSearch" value="3"/>
  <add key="PageSizeTag" value="3"/>
  <add key="PageSizeCategory" value="3"/>
  <add key="PageSizeVideo" value="3"/>
  <add key="PageSizeCategoryVideo" value="3"/>
  <add key="MaxPage" value="5"/>
  <add key="NewsEvent" value="http://img.cdn.ved.com.vn/web/lmht360/wp-content/uploads/2016/09/world-championship.png"/>
  <add key="Face" value="https://www.facebook.com/LienMinh360VN"/>
  <add key="You" value="https://www.youtube.com/channel/UCUvVOWRiIBme9CXdPDAFgng"/>
  <add key="Logo" value="http://img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/images/logo.png"/>
</appSettings>