<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head profile="http://gmpg.org/xfn/11">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Liên Minh 360|Tin tức Liên Minh Huyền Thoại</title>
    <meta name="Description" content="Tất cả tin tức về game Liên Minh Huyền Thoại cùng với cẩm nang tướng, chiến thuật; video hướng dẫn, những pha highlight kịch tính và rất nhiều hình ảnh game sống động khác." />
    <meta name="Keywords" content="liên minh huyền thoại, lmht, tin tức, hướng dẫn tướng, ngọc bổ trợ, bảng bổ trợ, cách lên đồ" />
    <link rel="alternate" type="application/rss+xml" title="Liên Minh 360 | Tin tức Liên Minh Huyền Thoại &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Liên Minh 360 | Tin tức Liên Minh Huyền Thoại &raquo; Comments Feed" href="comments/feed/index.html" />
    <meta name="generator" content="Liên Minh Huyền Thoại | LM360" />
    <!-- Facebook Open Graph Meta Tags -->
    <meta property="og:title" content="Liên Minh 360|Tin tức Liên Minh Huyền Thoại" />
    <meta property="og:type" content="website game" />
    <meta property="og:url" content="index.html" />
    <meta property="og:image" content="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/uploads/2016/04/Avatar.png" />
    <meta property="og:description" content="Cập nhật nhanh nhất tin tức về game Liên Minh Huyền Thoại cùng với cẩm nang tướng, bí kíp chiến thuật, video highlight kịch tính xen lẫn những pha xử lý hài hước. Liên Minh 360 luôn song hành cùng các giải đấu trong và ngoài nước." />
    <!-- End Facebook Open Graph Meta Tags -->
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/lienminh360.vn\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}};
			!function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='toc-screen-css' href='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/plugins/table-of-contents-plus/screen.min6528.css?ver=1509' type='text/css' media='all' />
    <link rel='stylesheet' id='wpProQuiz_front_style-css' href='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/plugins/wp-pro-quiz/css/wpProQuiz_front.min3496.css?ver=0.37' type='text/css' media='all' />
    <link rel='stylesheet' id='malinky-ajax-pagination-css' href='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/plugins/malinky-ajax-pagination/css/style.css' type='text/css' media='all' />
    <script type='text/javascript' src='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-includes/js/jquery/jqueryc1d8.js?ver=1.11.3'></script>
    <script type='text/javascript' src='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <script type='text/javascript'>

    </script>
    <script type='text/javascript' src='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/plugins/widgets-controller/widgets_controllerc1f9.js?ver=4.4.2'></script>
    <script type='text/javascript' src='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/plugins/jquery-vertical-accordion-menu/js/jquery.hoverIntent.minifiedc1f9.js?ver=4.4.2'></script>
    <script type='text/javascript' src='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/plugins/jquery-vertical-accordion-menu/js/jquery.cookiec1f9.js?ver=4.4.2'></script>
    <script type='text/javascript' src='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/plugins/jquery-vertical-accordion-menu/js/jquery.dcjqaccordion.2.9c1f9.js?ver=4.4.2'></script>
    <link rel='https://api.w.org/' href='wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://img.cdn.ved.com.vn/web/lmht360/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.4.2" />

    <style type="text/css">
        .social-ring:after {
            clear: both;
        }

        .social-ring:before,
        .social-ring:after {
            content: "";
            display: table;
        }

        .social-ring {
            margin: 0 0 0.5em !important;
            padding: 0 !important;
            line-height: 20px !important;
            height: auto;
            font-size: 11px;
        }

        .social-ring-button {
            float: left !important;
            height: 30px;
            margin: 0 5px 0 0 !important;
            padding: 0 !important;
        }

        .social-ring .social-ring-button iframe {
            max-width: none !important;
        }
    </style>
    <meta name="robots" content="noindex" />

    <link rel="stylesheet" href="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/css/font-awesome.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/css/style.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/css/menu-mobile.css" type="text/css" media="screen, projection" />

    <script src="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/js/mobile-menu.js" type="text/javascript"></script>
    <script src="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/js/jquery.slimscroll.js" type="text/javascript"></script>
    <script src="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/js/jquery-scrolltofixed.js" type="text/javascript"></script>
    <script src="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/js/jquery.slimscroll.js" type="text/javascript"></script>
    <script src="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/js/allscript.js" type="text/javascript"></script>

    <meta name="google-site-verification"
          content="WQd_U2TYD_vU-eGgRSIHhYAqTNfv-ZLsyBqk0DCwd8c" />
    <link rel="shortcut icon" href="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/uploads/2016/04/favicon.png" type="image/x-icon" />
    <link href="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/uploads/2016/04/favicon.png" type="image/x-icon" rel="icon" />
    <link href="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/uploads/2016/04/favicon.png" type="image/x-icon" rel="shortcut icon" />

</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=154457641656162";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <header class="header clearfix">
        <h1 class="logo left">
            @{ Html.RenderAction("Logo", "Home");}
        </h1>
        <div class="banner b1 right">
            @{ Html.RenderAction("BannerTop", "Home");}
        </div>
    </header>

    <section class="wrapper">
        <div class="top-nav clearfix">
            <!-- menu mobile-->
            <div class="wsmenucontent overlapblackbg"></div>
            <div class="manumain"><a id="navToggle" class="animated-arrow slideLeft"><span></span></a> <a href="/"><span class="logo"><img src="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/images/logo-footer.png"></span></a></div>
            <!-- end -->
            <nav class="wsmenu slideLeft" id="nav">
                <div class="search-social">
                    @{ Html.RenderAction("Social", "Home");}
                    <form class="searchbox" method="get" action="/tim-kiem.html">
                        <input type="submit" value="" id="btnSearch">
                        <input id="txtKeyword" type="text" name="keyword" class="form-control" placeholder="Tìm kiếm..">
                        <i class="fa fa-search"></i>
                    </form>
                </div>
                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="menus menu-primary">
                        @{ Html.RenderAction("Category", "Home");}
                    </ul>
                </div>
            </nav>
            <style>
                #nav .menu-primary li a {
                    padding: 0 18px;
                }
            </style>
            <script type="text/javascript">
                $(document).ready(function () {
                    var c = 0;
                    $('#nav .menu-primary>li').each(function () {
                        var obj = $(this);
                        var length = obj.find("ul").size();
                        if (length > 0) {
                            obj.find(">a").append(' <i class="fa fa-angle-down"></i>');
                        }
                        if (obj.hasClass('current-post-parent') && c === 0) {
                            obj.css('background-color', '#df0000');
                            c++;
                        }
                    });
                });
            </script>
            <style type="text/css">
                #nav .menu-primary > li.current-menu-item, #nav .menu-primary > li.current-category-parent, .current-post-parent__:first-child {
                    background-color: #df0000;
                }
            </style>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <footer>
        @{ Html.RenderAction("Footer", "Home");}
    </footer>
    <link rel='stylesheet' id='recent-posts-flexslider-widget-styles-css' href='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/plugins/recent-posts-flexslider/css/sliderc1f9.css?ver=4.4.2' type='text/css' media='all' />
    <script type='text/javascript'>
        /* <![CDATA[ */
        var tocplus = { "visibility_show": "M\u1edf", "visibility_hide": "\u0110\u00f3ng", "width": "Auto" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/plugins/table-of-contents-plus/front.min6528.js?ver=1509'></script>

    <script type='text/javascript' src='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/main_ajax5152.js?ver=1.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var malinkySettings = { "1": { "theme_defaults": "Twenty Fifteen", "posts_wrapper": ".box_featured_posts", "post_wrapper": ".lastest-post .single-article", "pagination_wrapper": ".pagination", "next_page_selector": ".pagination a:last-child", "paging_type": "infinite-scroll", "infinite_scroll_buffer": "20", "ajax_loader": "<img src=\"http:\/\/lienminh360.vn\/wp-content\/plugins\/malinky-ajax-pagination\/img\/loader.gif\" class=\"malinky-ajax-pagination-loading\" alt=\"AJAX Loader\" \/>", "load_more_button_text": "Load More Posts", "loading_more_posts_text": "Loading..." }, "max_num_pages": "1896", "next_page_number": "2", "next_page_url": "http:\/\/lienminh360.vn\/page\/2\/" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-includes/js/wp-embed.minc1f9.js?ver=4.4.2'></script>
    <script type='text/javascript' src='/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/plugins/recent-posts-flexslider/js/jquery.flexslider-mind5f7.js?ver=2.0'></script>
    <!-- Facebook Comments for WordPress: http://peadig.com/wordpress-plugins/facebook-comments/ -->
    <div id="fb-root">

    </div>

    <script>
        loadimage('100%');
        function loadimage(width) {
            $("img").error(function () {
                $(this).attr("src", "/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/images/no-image-available.jpg");
                $(this).attr("width", width);
                $(this).attr("height", "");
            });
        }
    </script>
    @RenderSection("footerJS", required: false)
</body>
</html>
