@model Blog.Web.Models.BannerViewModel

<div id="widget_sp_image-2">
    <div class="featured_posts clearfix">
        <a href="@Model.Url" target="_blank" class="widget_sp_image-image-link" title="@Model.Name">
            <img width="728" height="90" alt="@Model.Name" class="attachment-full" style="max-width: 100%;" src="@Model.Image" />
        </a>
    </div>
</div>

