<div class="wrapper clearfix">
    <div class="left">
        <p>Copyright &copy; 2016 Liên Minh 360. All Rights Reserved</p>
        <div class="nav-footer clearfix">
            <div class="menu-main-menu-container">
                <ul id="menu-main-menu-1" class="nav-footer">
                    @{ Html.RenderAction("Category", "Home");}
                </ul>
            </div>
        </div>
        <div class="social">
            @{ Html.RenderAction("Social", "Home");}
        </div>
    </div>
    <div class="right">
        <a href="/">
            <img src="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/images/logo-footer.png" alt="">
        </a>
    </div>
</div>
