
<a class="face" href="@ViewBag.Face" target="_blank">
    <img title="Facebook" alt="Facebook" src="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/images/i-fb.jpg" height="32" />
</a>
<a class="face" href="@ViewBag.You" target="_blank">
    <img title="Youtube" alt="Youtube" src="/Assets/client/img.cdn.ved.com.vn/web/lmht360/wp-content/themes/_gameplay/images/i-youtube.jpg" height="32" />
</a>

